[%  report_type = 'Table';
    INCLUDE html_header.tt object_name, report_type; %]
<body>
[%
    INCLUDE _write_tabs.tt report_type; %]
<br><br><br>
[ %
    # self.build_summary_table(html, html_dir, removed_bins=removed_bins);

    fields = [{'id': 'marker lineage', 'display': 'Marker Lineage'},
              {'id': '# genomes', 'display': '# Genomes'},
              {'id': '# markers', 'display': '# Markers'},
              {'id': '# marker sets', 'display': '# Marker Sets'},
              {'id': '0', 'display': '0'},
              {'id': '1', 'display': '1'},
              {'id': '2', 'display': '2'},
              {'id': '3', 'display': '3'},
              {'id': '4', 'display': '4'},
              {'id': '5+', 'display': '5+'},
              {'id': 'Completeness', 'display': 'Completeness', 'round': 2},
              {'id': 'Contamination', 'display': 'Contamination', 'round': 2}];
%]
<div id="Summary" class="tabcontent">
    <table>
    <thead>
      <tr>
        <th><b>Bin Name</b></th>
[%          FOR f IN fields %]
            <th>[% f.display %]</th>
[%          END %]
      </tr>
    </thead>
    <tbody>
[%  row_bgcolor = '#F9E3E2';
    FOR bid IN bin_stats.keys.sort;
        row_class = 'whatever';
        IF removed_bins:
            bin_id = re.sub('^[^\.]+\.', '', bid)
            IF bin_id IN removed_bins;
                row_class = 'removed';
#                row_opening = '<tr style="background-color:'+row_bgcolor+'">'
            END;
        END; %]
        <tr class="[% row_class %]">
[%
            bid_text = bid;
            dist_plot_file = os.path.join(
                html_dir, str(bid) + self.DIST_PLOT_EXT
            )
            IF os.path.isfile(dist_plot_file):
                self._write_dist_html_page(html_dir, bid);
                bid_text = '<a href="' _ bid _ '.html">' _ bid _ '</a>';
            END;
            <td>[% bid_text %]</td>
[%            FOR f IN fields; %]
            <td>
[%              IF f.id in bin_stats.$bid;
                    value = bin_stats.$bid.${ f.id }
                    IF f.get('round'):
                        value = str(round(bin_stats[bid][f['id']], f['round']));
                    END;
                    value;
                END; %]
            </td>
        </tr>
    </tbody>
    </table>
</div>
</body>
</html>
