<html>
<head>
<title>CheckM Dist Plots for Bin [% bin_id %]</title>
<style style="text/css">
a { color: #337ab7; }
a:hover { color: #23527c; }
</style>
<body>
<br><a href="CheckM_Table.html">Back to summary</a><br>
<center><h2>Bin: [% bin_id %]</h2></center>
<img src="[% bin_id %][% self.DIST_PLOT_EXT %]" width="90%" />
<br><br><br>
</body>
</html>

